<h3>[ICON] Optimizer - Einstellungen</h3>
<div class="row">
    <div class="col-md-12">
        <center>
            <img src="[EXTURL]images/logo640.png" />
        </center>
        <br/> Willkommen zum Optimizer für Diaspora*. Diese Erweiterung soll Diaspora* ein klein wenig verbessern. Wenn Du mehr
        über diese Extension erfahren möchtest (auch, warum es eine Extension ist und nicht direkt im Diaspora*-Code) schau
        bitte in die
        <a href="https://gitlab.com/olealbers/diasporaoptimizer/blob/master/README.de.md" target="_blank">Anleitung</a>.
        <br/> Wenn Du Dir unsicher bist, ob ein Feature jetzt Standard ist oder vom Optimizer stammt: Wenn es eine rote Glocke
        hat, ist es vom Optimizer :)

        <h3>Standardmäßig aktiviert</h3>
        Alle Features, die den Inhalt nicht verändern, sondern nur neue Features bieten sind standardmässig aktiviert. Im Umkehrschluss:
        Wenn ein Feature etwas massiv verändert, muss es erst aktiviert werden.
        <div class="small-horizontal-spacer"></div>
        <hr>
        <h3>Dein Pod</h3>
        Du
        <b>musst</b> hier nichts eintragen. Wenn Du aber etwas einträgst, wird der Optimizer auf die von Dir eingetragene URL
        limitiert. Das soll verhindern, dass auf Fremdseiten der Optimizer nach Diaspora* - Inhalten sucht. Wenn Du mehrere
        Pods verwendest, trenn sie mit Komma.
        <br/>
        <br/>
        <div class="form-group row">
            <label class="col-sm-6 control-label" style="text-align: right;">Dein Pod (ohne http(s)):</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="optPod" placeholder="pluspora.com">
                <br/>
                <div class="clearfix">
                    <input type="submit" id="optPodSave" value="Speichern" class="btn btn-primary pull-right" data-disable-with="Pod speichern">
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <hr>
        <h3>Bug gefunden?</h3>
        Um einen Bug zu melden oder Dir ein Feature zu wünschen, nutze bitte <a href="https://gitlab.com/olealbers/diasporaoptimizer/issues">die Issue-Liste auf GitLab</a>.</br>

        <div class="small-horizontal-spacer"></div>
        <hr>
        <sup>Images:
            <a href="https://www.pexels.com/@glaucio-guerra-442201">Glaucio Guerra</a> &
            <a href="https://pngimg.com/download/12854">PngImg</a>
        </sup>
    </div>
</div>