.optComments {
    float: right;  
  margin-right: 20px;  
}

.fa-concierge-bell {
    margin-right: 2px;
}

.optComments .tooltiptext {
 font-size: 13px;
}

.optComments a {
 cursor: pointer;
}

.optTooltip {
 position: relative;
 display: inline-block;
}

.optTooltip .tooltiptext {
 visibility: hidden;    
 background-color: black;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 margin-right: 20px;
 width:120px;
 right: -40px;
 top:22px;

 /* Position the tooltip */
 position: absolute;

}

.optTooltip:hover .tooltiptext {
    visibility: visible;
}

.fa-reply {
    fill:red;    
}
.optAction svg:hover path {
    fill: #222222;
}

.optAction {
    margin-right: 5px;
}

.optAction svg path {
    fill: #aaaaaa;
}

span.optReactions {
    position: absolute;
    background: white;
    width: 150px;
    right: 2px;
    border: 1px solid #222222;
    padding: 4px;
    z-index: 330;
    display: none;
}

span.optReactions {
    cursor: pointer;
}