<h3>[ICON] Optimizer - Settings</h3>
<div class="row">
    <div class="col-md-12">
        <center>
            <img src="[EXTURL]images/logo640.png" />
        </center>
        <br/> Welcome to the Optimizer. In short this should make Diaspora* just a little bit better. If you want to know more
        about this (including the fact why this is an extension and not part of Diaspoa*) just read the
        <a href="https://gitlab.com/olealbers/diasporaoptimizer/blob/master/README.md"
            target="_blank">complete help file</a>.
        <br/> Wonder if this is standard feature or from the Optimizer? If it has a bell, it's from the Optimizer. :)
        <h3>Enabled by default</h3>
        All non-destructive features are enabled by default. Features that change the behaviour massively are disabled by default
        <div class="small-horizontal-spacer"></div>
        <hr>
        <h3>Your Pod</h3>
        This is not required but might improve the performance. If it is empty, the optimizer tries to inject the enhancements on
        any site, even those who might not be a Diaspora-Site. This simply limits the optimizer to the wanted url.
        <br> If you use more than one Pod, seperate them by comma
        <br/>
        <br/>

        <div class="form-group row">
            <label class="col-sm-6 control-label" style="text-align: right;">Your Pod (without http(s)):</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="optPod" placeholder="pluspora.com">
                <br/>
                <div class="clearfix">
                    <input type="submit" id="optPodSave" value="Save" class="btn btn-primary pull-right" data-disable-with="Pod speichern">
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <hr>
        <h3>Found a bug?</h3>
        Pleas add an <a href="https://gitlab.com/olealbers/diasporaoptimizer/issues">issue on GitLab</a>.</br>
        <div class="small-horizontal-spacer"></div>
        <hr>
        <sup>Images:
            <a href="https://www.pexels.com/@glaucio-guerra-442201">Glaucio Guerra</a> &
            <a href="https://pngimg.com/download/12854">PngImg</a>
        </sup>
    </div>
</div>